.cart{
    background-color: #1C2B35;
    color: white;
    padding: 20px;
    width: 300px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    position: sticky;
    top: 50px;
}
.cart h4{
    text-align: center;
  
}

.color-text{
    color: #FFA41C;
}
.clear-cart-btn{
    border-radius: 5px;
    margin-top: 20px;
    background-color: red;
    color: white;
    border: 0px;
    padding: 5px;
}
.clear-cart-btn:hover{
    font-weight: 550;
}
.delete-icon{
    margin-left: 10px;
    
}
.btn-container{
    display: grid;
    grid-template-rows: repeat(2 1fr);
}
.review-order{
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #FFA41C;
    color: white;
   
    padding: 5px;
    
}
.review-order:hover{
    font-weight: 550;
}
.arrow-icon{
    margin-left: 10px;
}