.header{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 80px;
}
.header img{
    width: 150px;
}
.nav-elements a{
    text-decoration: none;
    color: white;
    margin-left:30px;
    font-weight: 400;
}
.nav-elements a:hover{
    color: orange;
    /* text-decoration: underline; */
    /* font-weight: 200; */
}