.header{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 65px;
}
.header img{
    width: 100px;
}
.nav-elements a{
    text-decoration: none;
    color: white;
    margin-left:30px;
    font-weight: 400;
}
.nav-elements a:hover{
    color: orange;
    /* text-decoration: underline; */
    /* font-weight: 200; */
}
.search-btn{
    padding: 7px;
    height: 34px;
    width: 300px;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
 .search-icon{
    height: 35px;
    border: 0px;
    background-color: orange;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* color: white; */
 }
 